<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genre</title>
</head>
<body>
<div>
    <h2><a href="/genres/{{ genre.id }}/">{{ genre.title }}</a></h2>
    <p>{{ genre.description }}</p>
    <img src="{{ genre.image.url }}" alt="">
    <p>{{ genre.quantity }}</p>
    <p>{{ genre.genre }}</p>
    <p>{{ genre.date_publication }}</p>
</div>
<button type="button" class="btn btn-primary"><a href="/genres/{{genre.id}}/update/">Change</a></button>
<button type="button" class="btn btn-primary"><a href="/genres/{{ genre.id }}/delete/">Delete {{ genre.title }}</a></button>
</body>
</html>